# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.0.0=pypi_0
accelerate=0.21.0=pypi_0
aiohttp=3.8.6=pypi_0
aiosignal=1.3.1=pypi_0
alembic=1.10.3=pypi_0
annotated-types=0.6.0=pypi_0
anyio=3.6.1=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
asttokens=2.0.8=pypi_0
astunparse=1.6.3=pypi_0
async-generator=1.10=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.11.1=pypi_0
bitsandbytes=0.41.1=pypi_0
blas=1.0=mkl
bleach=5.0.1=pypi_0
blis=0.7.11=pypi_0
brotli=1.0.9=he6710b0_2
ca-certificates=2023.01.10=h06a4308_0
cachetools=5.3.1=pypi_0
catalogue=2.0.10=pypi_0
certifi=2022.12.7=py39h06a4308_0
certipy=0.1.3=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=2.1.1=pypi_0
click=8.1.7=pypi_0
cloudpathlib=0.15.1=pypi_0
cmake=3.25.0=pypi_0
confection=0.1.3=pypi_0
cryptography=40.0.2=pypi_0
cycler=0.11.0=pyhd3eb1b0_0
cymem=2.0.8=pypi_0
cython=3.0.3=pypi_0
datasets=2.14.5=pypi_0
dbus=1.13.18=hb2f20db_0
debugpy=1.6.3=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pyhd3eb1b0_0
dill=0.3.7=pypi_0
en-core-web-sm=3.7.0=pypi_0
entrypoints=0.4=py39h06a4308_0
evaluate=0.4.0=pypi_0
executing=1.1.1=pypi_0
expat=2.4.4=h295c915_0
filelock=3.9.0=pypi_0
flatbuffers=2.0=pypi_0
fontconfig=2.13.1=h6c09931_0
fonttools=4.25.0=pyhd3eb1b0_0
freetype=2.11.0=h70c0345_0
frozenlist=1.4.0=pypi_0
fsspec=2023.6.0=pypi_0
gast=0.5.3=pypi_0
giflib=5.2.1=h7b6447c_0
glib=2.69.1=h4ff587b_1
google-auth=2.23.2=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
greenlet=2.0.2=pypi_0
grpcio=1.59.0=pypi_0
gst-plugins-base=1.14.0=h8213a91_2
gstreamer=1.14.0=h28cd5cc_2
h5py=3.7.0=pypi_0
huggingface-hub=0.17.3=pypi_0
icu=58.2=he6710b0_3
idna=3.4=pypi_0
importlib-metadata=6.8.0=pypi_0
install=1.3.5=pypi_0
intel-openmp=2021.4.0=h06a4308_3561
ipykernel=6.16.0=pypi_0
ipython=8.5.0=pypi_0
ipython-genutils=0.2.0=pypi_0
jedi=0.18.1=pypi_0
jinja2=3.1.2=py39h06a4308_0
joblib=1.3.2=pypi_0
jpeg=9e=h7f8727e_0
jsonschema=4.16.0=pypi_0
jupyter-client=7.4.2=pypi_0
jupyter-core=4.11.1=pypi_0
jupyter-server=1.21.0=pypi_0
jupyter-telemetry=0.1.0=pypi_0
jupyter_core=5.3.0=py39h06a4308_0
jupyterhub=4.0.0=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
keras=2.8.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.2=py39h295c915_0
langcodes=3.3.0=pypi_0
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.38=h1181459_1
libclang=14.0.1=pypi_0
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libgfortran-ng=7.5.0=ha8ba4b0_17
libgfortran4=7.5.0=ha8ba4b0_17
libgomp=11.2.0=h1234567_1
libpng=1.6.37=hbc83047_0
libstdcxx-ng=11.2.0=h1234567_1
libtiff=4.2.0=h2818925_1
libuuid=1.0.3=h7f8727e_2
libwebp=1.2.2=h55f646e_0
libwebp-base=1.2.2=h7f8727e_0
libxcb=1.15=h7f8727e_0
libxml2=2.9.14=h74e7548_0
lit=15.0.7=pypi_0
localconfig=1.1.3=pypi_0
lz4-c=1.9.3=h295c915_1
mako=1.2.4=pypi_0
markdown=3.5=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.5.1=py39h06a4308_1
matplotlib-base=3.5.1=py39ha18d171_1
matplotlib-inline=0.1.6=pypi_0
mistune=2.0.4=pypi_0
mkl=2021.4.0=h06a4308_640
mkl-service=2.4.0=py39h7f8727e_0
mkl_fft=1.3.1=py39hd3c417c_0
mkl_random=1.2.2=py39h51133e4_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
multiprocess=0.70.15=pypi_0
munkres=1.1.4=py_0
murmurhash=1.0.10=pypi_0
nbclassic=0.4.5=pypi_0
nbclient=0.7.0=pypi_0
nbconvert=7.2.1=pypi_0
nbformat=5.7.0=py39h06a4308_0
ncurses=6.3=h7f8727e_2
nest-asyncio=1.5.6=pypi_0
networkx=3.0=pypi_0
nltk=3.8.1=pypi_0
notebook=6.5.1=pypi_0
notebook-shim=0.1.0=pypi_0
numpy=1.22.3=py39he7a7128_0
numpy-base=1.22.3=py39hf524024_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nccl-cu12=2.18.1=pypi_0
nvidia-nvjitlink-cu12=12.3.52=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
oauthlib=3.2.2=pypi_0
openai=0.27.9=pypi_0
openssl=1.1.1t=h7f8727e_0
opt-einsum=3.3.0=pypi_0
packaging=23.2=pypi_0
pamela=1.0.0=pypi_0
pandas=1.4.2=pypi_0
pandoc=2.12=h06a4308_3
pandocfilters=1.5.0=pyhd3eb1b0_0
parso=0.8.3=pypi_0
pathy=0.10.2=pypi_0
pcre=8.45=h295c915_0
peft=0.5.0=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.3.0=pypi_0
pip=21.2.4=py39h06a4308_0
platformdirs=2.5.2=py39h06a4308_0
preshed=3.0.9=pypi_0
prometheus-client=0.15.0=pypi_0
prompt-toolkit=3.0.31=pypi_0
protobuf=3.19.6=pypi_0
psutil=5.9.5=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=13.0.0=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycparser=2.21=pypi_0
pydantic=2.4.2=pypi_0
pydantic-core=2.10.1=pypi_0
pydeprecate=0.3.2=pypi_0
pygments=2.13.0=pypi_0
pyopenssl=23.1.1=pypi_0
pyparsing=3.0.4=pyhd3eb1b0_0
pyqt=5.9.2=py39h2531618_6
pyrsistent=0.18.1=pypi_0
python=3.9.0=hdb3f193_2
python-dateutil=2.8.2=pyhd3eb1b0_0
python-fastjsonschema=2.16.2=py39h06a4308_0
python-json-logger=2.0.7=pypi_0
pytorch-lightning=1.6.4=pypi_0
pytz=2023.3.post1=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=24.0.1=pypi_0
qt=5.9.7=h5867ecd_1
readline=8.1.2=h7f8727e_1
regex=2023.10.3=pypi_0
requests=2.28.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
responses=0.18.0=pypi_0
rouge-score=0.1.2=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.17.21=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
safetensors=0.4.0=pypi_0
scikit-learn=1.0.2=py39h51133e4_1
scipy=1.7.3=py39hc147768_0
seaborn=0.12.0=pypi_0
send2trash=1.8.0=pypi_0
sentencepiece=0.1.96=pypi_0
setuptools=61.2.0=py39h06a4308_0
sip=4.19.13=py39h295c915_0
six=1.16.0=pyhd3eb1b0_1
smart-open=6.4.0=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
spacy=3.7.1=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
sqlalchemy=2.0.9=pypi_0
sqlite=3.38.3=hc218d9a_0
srsly=2.4.8=pypi_0
stack-data=0.5.1=pypi_0
sympy=1.12=pypi_0
tensorboard=2.8.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow=2.8.2=pypi_0
tensorflow-estimator=2.8.0=pypi_0
tensorflow-io-gcs-filesystem=0.26.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.16.0=pypi_0
testpath=0.6.0=py39h06a4308_0
thinc=8.2.1=pypi_0
threadpoolctl=2.2.0=pyh0d69192_0
tinycss2=1.1.1=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.3=pypi_0
torch=2.0.1=pypi_0
torchaudio=2.0.2=pypi_0
torchmetrics=0.9.0=pypi_0
torchvision=0.15.2=pypi_0
tornado=6.2=py39h5eee18b_0
tqdm=4.66.1=pypi_0
traitlets=5.4.0=pypi_0
transformers=4.30.2=pypi_0
triton=2.0.0=pypi_0
typer=0.9.0=pypi_0
typing-extensions=4.8.0=pypi_0
tzdata=2023.3=pypi_0
urllib3=1.26.13=pypi_0
wasabi=1.1.2=pypi_0
wcwidth=0.2.5=pypi_0
weasel=0.3.2=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.4.1=pypi_0
werkzeug=3.0.0=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wrapt=1.14.1=pypi_0
xxhash=3.4.1=pypi_0
xz=5.2.5=h7f8727e_1
yarl=1.9.2=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.12=h7f8727e_2
zstd=1.5.2=ha4553b6_0